*{
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

a:visited {
    color: white;
    text-decoration: none;
}
header{
    background:url("");
    heigth:500 px;
    display:block;
}
nav{
    background color: white;
    position:fixed;
    z-index:1;
    height:75 px;
    width:100%;
}
    
