@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,800;1,600;1,800&display=swap');

:root{
    --fonte: 'Nunito', sans-serif;
    --azul: #3F51B5;
    --amarelo: #FEBD01;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
    font-weight: 600;
    text-align: justify;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.titulo {
    color: var(--azul);
    font-family: var(--fonte);
    font-size: 2em;
    font-weight: 800;
    margin: 5px 0;
    padding: 0.5%;
    padding-left: 0;
    text-transform: uppercase;
}

.subtitulo{
    color: var(--amarelo);
    font-family: var(--fonte);
    font-size: 1.3em;
    font-weight: 800;
    padding: 0.5%;
    padding-left: 0;
    text-transform: uppercase;
}

a:visited {
    color: white;
    text-decoration: none;
}

nav{
    background-color: white;
    position: fixed;
    z-index: 1;
    height: 75px;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
nav.scroll{
    background-color: var(--azul);
    box-shadow: rgba (5, 5, 131,0.8)0.2em 0.1em 0.2em;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

@media (max-width: 800px) {
    body{
      overflow-x: hidden;  
    }
    .nav-List{
        position: absolute;
        margin: 0;
        top: 50px;
        right: 0;
        width: 30vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #3f51b56f;
        transform: translateX(100%);
    }

    .mobile-menu{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 25px;
        width: 50px;
    }

    .active{
        transform: translateX(0);
        transition: 0.5s ease-in;
    }

    body nav .mobile-menu {
        height: 30px;
        width: 30px;
        margin: 20px;
    }

    .sobre{
        display: flex;
        flex-direction: column;
    }

    .ciclos{
        flex-direction: column;
        margin: 10px;
    }
}

.menu{
    list-style: none;
    float: right;
    display: flex;
    gap: 15px;
}

.botaoMenu {
    display: flex;
    background-color: var(--amarelo);
    color: var(--azul);
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
    height: 20px;
    margin-right: 20px;
    margin-top: 16px;
    padding: 8px 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.botaoMenu:hover{
    background-color: var(--azul);
    color: var(--amarelo);
}

.botaoMenu:visited{
    color: var(--azul);
}

.botaoMenu:visited:hover{
    color: var(--amarelo);
}

.logo {
    width: 50px;
    margin: 5px 20px;
}

header{
    display: flex;
    background: url("./imgs/header1.jpg");
    /*filter: brightness(50%);*/
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header{
    background-color: rgba(0, 0, 0, 0.342);
    width: 100%;
    height: 90vh;
}

.div-radio{
    display: flex ;
    align-items: center;
    Justify-content: center;
    width: 25px;
    transform: translate(65em, 25em);
}
    
    
.div-radio input[type="radio"] {
    display: none;
    }
    
.div-radio label {
      display: inline-block;
      margin: 5px 15px;
      padding: 5px;
      color:(--azul);
      cursor: pointer;
      transition: all 0.3s easy-in-out;
      position: relative;
}
    
.div-radio label::before{
    content:"";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--amarelo);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
    
.div-radio input[type="radio"]:checked + label::before{
      background-color: var(--amarelo);
}

.div-radio input[type="radio"]:checked label::after{
    content:""; 
    display: block;
    width: 18px;
    height: 10px;
    border-radius: 50%;
    background-color:white ;
    position: absolute;
    Left: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
}
    
.informativo {
    font-size: 1.2em;
    font-weight: 800;
    /*margin: 20vh 65vw;*/
    height: 100px;
    width: 250px;
    transform: translate(370%, 120%);
}

.informativo p{
    color: white;
}

.informativo h3{
    color: var(--azul);
}

.informativo ul{
    color: white;
    margin-left: 20px;
}

.informativo button{
    margin-top: 10px;
    width: 250px;
    font-weight: 800;
    text-align: center;
}

button{
    background-color: var(--amarelo);
    color: var(--azul);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 8px;
    transition: 0.5s;
    
}

button:hover{
    background-color: var(--azul);
    color: var(--amarelo);
}

.container {
    margin: 0px 20px;
}

.sobre{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.divTxtSobre{
    margin-right: 20px;
    width: 50vw;
    text-align: justify;
}

.divImgSobre{
    width: 50vw;
}

.diferenciais{
    margin-top: 20px;
}

.imgSobre {
    width: 50vw;
}

.ul-sobre {
    margin-left: 2em;
}

/*.carrossel {
    margin-top: 50px;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carrossel button {
    cursor: pointer;
}*/

.fotos{
    overflow: hidden;
    margin-top: 50px;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
    margin-left: 22vw;
}

.slides input{
    display: none;
}

.imgSlide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.imgSlide img{
    width: 700px;
    height: 100%;
}

.label-nav{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.label-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.label-btn:hover{
    background-color: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25px;
}

#radio3:checked ~ .first{
    margin-left: -50px;
}

#radio4:checked ~ .first{
    margin-left: -75px;
}

#radio5:checked ~ .first{
    margin-left: -100px;
}

.ciclos {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.h1Ciclos {
    padding: 10px 10px 10px 0px;
    margin-top: 25px;
}

.fundamental1, .fundamental2, .ensinoMedio {
    display: inline-block;
    text-align: center;
}

.fundamental1 p, .fundamental2 p, .ensinoMedio  p{
    color: var(--azul);
}

.imgCiclos {
    height: 100%;
    width: 100%;
    margin: 5px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.buttonCiclos{
    margin: 5px;
}

.fotos{
    margin-top: 10px;
}

.form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    
    padding: 15px;
    margin: 8px auto;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    width: 45vw;
    font-size: 1.1em;
}

.buttonform{
    font-weight: bold;
    text-transform: uppercase;
    width: 47vw;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #f5f5f5;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .socialMedia a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    transition: all 0.3s ease;
  }
  
  footer p {
    font-size: 14px;
    color: #999;
    text-align: center;
  }
  .social{
    width:20px;
  }

  @media (max-width: 1230px) {
    .ciclos{
        flex-direction: column;
        margin: 10px;
    }

    .fundamental1, .fundamental2, .ensinoMedio {
        display: inline-block;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .divImgCiclos {
        object-fit: cover;
        width: 90vw;
        height: auto;
        margin: auto;
    }
    
    .buttonCiclos{
        padding: 2vh 10vw;

    }
    
  }