@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto&display=swap');

:root{
    --titulo: 'Nunito', sans-serif;
    --fonte-principal: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.titulo {
    font-family: ;
}

a:visited {
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    padding: 25px 30px;
    background-color: white;
    position: fixed;
    z-index: 1;
    height: 75px;
    width: 100vh;
}

ul{
    list-style: none;
}

li{
    float:left;
    padding: 5px 10px;
}

.divLogo {
    
}

.menu {
    align-items: center;
    text-align: left;
}

header{
    background: url("");
    background-size: cover;
    background-size: right;
    background-size: no-repeat;
    width: 100%;
    height: 90vh;
    display: block;
}
